#board {
  margin-top: 10px;
}

h1 {
	font-family: Lobster;
}

h2 {
	margin: 50px 0px 50px 0px;

}

.box {
  border: 1px solid darkgrey;
  height: 100px;
  padding-top: 20px;
}

.btn {
	margin-top: 25px;
}

/*#background {
	opacity: 1;
}

#bodyContent {
	opacity: 0.2;
}*/