body {
	background-image: url(img/background2.png);
}

#board {
  margin-top: 10px;
}

h1 {
	font-family: Lobster;
	font-size: 50px;
}

h2 {
	margin: 50px 0px 50px 0px;
	font-weight: bold;

}

h3 {
	font-weight: bold;
}

.box {
  border: 1px solid black;
  height: 100px;
  padding-top: 10px;
}

.btn {
	margin-top: 25px;
}

p {
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
	text-align: left;
}

.winBox {
	display: none;
	padding-top: 50px;
	font-size: 50px;
	font-style: bold;
}