body {
	background-image: url(img/background.jpg);
}

.container {
	position: relative;
}

#playArea {
	margin-top: 180px;
	color: black;
}

canvas {
	color: yellow;
}

.winBox {
	display: none;
	padding-top: 50px;
	font-size: 50px;
	font-style: bold;
}