h1 {
	font-family: Old Standard TT;
	font-size: 63px;
	font-weight: bold;
	font-style: italic;
}

.col-xs-12 {

	height: 84px;
	border-style: dotted solid dotted;
	border-width: 5.25px;
	border-color: purple;
}

.btn {
	margin-top: 42px;
}

.player {
	padding-top: 21px;
	font-size: 42px;
	position: absolute;
}

.winBox {
	font-family: Old Standard TT;
	font-size: 42px;
}

